.margin{
    border: 1px solid black;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-right: 80px;
  margin-left: 80px;
  background-color: lightblue;
}
div {
    border: 2px solid black;
    margin: 25px 50px 75px 100px;
    background-color: blue;
  }
  .code1
  {
    border: 3px solid red;
    margin: 25px 50px 75px;
    background-color: aquamarine;
  }
  .code2
  {
    border: 4px solid yellowgreen;
    margin: 25px 50px;
    background-color: bisque;
  }
  .code3
  {
    border: 2px solid violet;
    margin: 25px;
    background-color: aliceblue;
  }