ul.a {
    list-style-type: circle;
    list-style-position: outside;
    background: #3399ff;
    padding: 20px;
  }
ul.a li{
    background: #cce5ff;
    color: darkblue;
    margin: 5px;
}

  
  
  ul.b {
    list-style-type: square;
    list-style-image: url('sqpurple.gif');
    list-style-position: intside;
}
  
  
  ol.c {
    list-style-type: upper-roman;
    
  }
  ol.d{
    background: #ff9999;
    padding: 20px;
  }
  
  ol.d  li{
    list-style-type: lower-alpha;
    background: #ffe5e5;
  color: darkred;
  padding: 5px;
  margin-left: 35px;
  }